<div class="gh-progress-container">
    <div class="gh-progress-container-progress">
        <div
            class="gh-progress-bar {{if isError "-error"}}"
            style={{progressStyle}}
            数据测试进度条
            data-test-progress-width={{percentage}}
        ></div>
    </div>
</div>
