<header class="modal-header">
    <h1>确定恢复此用户吗？</h1>
</header>
<a class="close" href="" title="关闭" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">关闭</span></a>

<div class="modal-body">
    <strong>警告</strong> 此用户将被允许登录，并拥有和此前相同的权限.
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>取消</span></button>
    {{gh-task-button "恢复" successText="已恢复" task=unsuspendUser class="gh-btn gh-btn-red gh-btn-icon" data-test-modal-confirm=true}}
</div>
