<header class="modal-header">
    <h1>确认暂停此用户？</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">关闭</span></a>

<div class="modal-body">
    <strong>警告：</strong> 此用户被禁止登录，但该用户的文章将保留。
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>取消</span></button>
    {{gh-task-button "暂停" successText="Suspended" task=suspendUser class="gh-btn gh-btn-red gh-btn-icon" data-test-modal-confirm=true}}
</div>
