<header class="modal-header">
    <h1>确认删除所有内容吗？</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">关闭</span></a>

<div class="modal-body">
    <p>此操作不可恢复！在此警告：没有备份、没有恢复，没有魔法的撤销按钮！</p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>取消</span></button>
    {{gh-task-button "删除" successText="已删除" task=deleteAll class="gh-btn gh-btn-red gh-btn-icon"}}
</div>
