<section class="gh-canvas">
    <header class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>标签</h2>
        <section class="view-actions">
            {{#link-to "tags.new" class="gh-btn gh-btn-green"}}<span>新建标签</span>{{/link-to}}
        </section>
    </header>

    <div class="gh-content">
        {{gh-loading-spinner}}
    </div>
</section>
